# Ignore all files in the images directory
images/

# Ignore the virtual environment directory
.venv/

# Ignore Python bytecode cache directories
src/__pycache__/
src/decoders/__pycache__/
__pycache__/

# Ignore test decoders directory
src/decoders/~raw_draw_test.py
src/decoders/~hex_draw_test.py
src/decoders/~raw_plus_draw_test.py
src/decoders/~string_draw_test.py

# Ignore the data.py file
data.py
